<div class="contacts_mobile_container">
  <button class="ui icon button" id="contacts_hideshow_button" onclick="hideShowButtons()">
    <i class="icon large plus square oultline"></i>
  </button>

  <ul class="icons" id="contacts_topbar_options">
    <li class="home-button">
      <div class="ui red huge button" onclick="window.location.href='/'" style="width: 100%; height: 100%;">
        Home
      </div>
    </li>

    <li class="home-button">
      <div class="ui huge blue button" onclick="window.location.href='/resume'" style="width: 100%; height: 100%;">
        Resume
      </div>
    </li>

    <li class="home-button">
      <div class="ui huge purple button" onclick="window.location.href='/pictures'" style="width: 100%; height: 100%;">
        Pictures
      </div>
    </li>
    <li class="home-button">
      <div class="ui green huge button" onclick="window.location.href='/articles'" style="width: 100%; height: 100%;">
        Blog
      </div>
    </li>
    <li class="home-button">
      <div class="ui orange huge button" onclick="window.location.href='/projects'" style="width: 100%; height: 100%;">
        Projects
      </div>
    </li>
  </ul>
</div>

<div class="contact_screen_bg">
  <div class="main_contact">
    <div id="inner" style="margin-bottom: 2rem;">
      <ul id="buttons01" style="text-align: center">
        <li><button class="ui  red button large" onclick="window.location.href=('/')">Home</button></li>
        <li><button class="ui  blue button large" onclick="window.location.href=('/resume')">Resume</button></li>
        <li><button class="ui purple button large" onclick="window.location.href=('/pictures')">Pictures</button></li>
        <li><button class="ui green button large" onclick="window.location.href=('/articles')">Blog</button></li>
        <li><button class="ui orange button large" onclick="window.location.href=('/projects')">Projects</button></li>
      </ul>
      <hr>
    <div align="center">
      <h1>Send Me A Message!</h1>

      <div class="container" id="contactForm">
        <%= simple_form_for @contact, html: { :data=> {abide: ''}, :class => 'ui form'} do |f| %>
            <% if @errors != -1 %>
                <% if @errors == 1 %>
                    <div class="ui red label"> Please make sure that you fill out the secret properly. I need to know you're human! </div>
                <% elsif @errors == 0 %>

                <%else %>
                    <% @errors.keys.each do |m| %>
                        <div class="container" style="margin-bottom: .5em;">
                          <div class="ui red label" style="width: 100%"><%= @errors[m][0] %></div>
                        </div>
                    <% end %>
                <%end %>
            <% else %>
                <div class="ui green label">Your message submitted successfully! I will get back to you ASAP</div>
            <%end%>

            <div class="field">
              <label id="formLabel">Name</label>
              <div class="two fields">
                <div class="field">
                  <%= f.input :first, :placeholder => "First Name" , :pattern=> "nametype", required:true%>
                </div>
                <div class="field">
                  <%= f.input :last, :placeholder=>"Last Name",:pattern=> "nametype", required:true%>
                </div>
              </div>
            </div>
            <label id="formLabel"> Email </label>
            <div class="ui icon input">
              <%= f.input :email, :placeholder => "Email@Email.com", type: "email", required:true, style: "height: 100% !important" %>
              <i class="user icon"></i>
            </div>
            <div class="field">
              <label id="formLabel">Message</label>
              <%= f.input :message, :as => :text, :input_html => {:rows =>10},required:true, :placeholder=>"Your message" %>
            </div>

            <div class="field">
              <label id="formLabel"> Secret Key </label>
              <div class="three fields">
                <div class="field">
                  <div class="ui red button" onclick="showHiddenKey()">Show hidden key</div>
                </div>
                <div class="field" id="secretKeyLocation"></div>
                <div class="field" style="margin-top: -1.2em !important;">
                  <%= f.input :skey,:name=>"secretKey", :equalTo=>@word, required:true, :placeholder=>"Secret Key",:style=>"height: 2.8em !important;", :id=>"skey"%>
                </div>
              </div>
            </div>
            <div>
              <%= f.submit 'Send message', :class=> "ui inverated green submit button", :id => "submitButton" %>
            </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>

<script>

    function showHiddenKey() {
        var secretKeyLocation = document.getElementById("secretKeyLocation");
        secretKeyLocation.innerHTML = "<div class = 'ui blue label' id='skLocation'><p><%= @word %></p>";
    }

    function hideShowButtons() {
        $("#contacts_topbar_options").toggle(function() {
            $('#contacts_topbar_options').animate({top: 0})
        }, function() {
            $('#contacts_topbar_options').animate({top: 100})
        })
    }

</script>