<% if user_signed_in? %>
    <% if current_user.email== "kpahawa@gmail.com" %>
    <div class="pictures_wrapper picturesBG" id="wrapper">
      <div class="" id="main">
        <div class="main_pictures">
          <div class="pictures_inner inner">
            <table>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Url</th>
                  <th>Datetime</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @pictures.each do |picture| %>
                  <tr>
                    <td><%= picture.title %></td>
                    <td><%= picture.description %></td>
                    <td><%= picture.url %></td>
                    <td><%= picture.datetime %></td>
                    <td><%= link_to 'Show', picture , {:class => 'ui green button'}%></td>
                    <td><%= link_to 'Edit', edit_picture_path(picture), {:class => 'ui purple button'} %></td>
                    <td><%= link_to 'Destroy', picture,   :class => 'ui red button' , method: :delete, data: { confirm: 'Are you sure?' }%></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <br>

            <%= link_to 'New Picture', new_picture_path, {:class => 'ui white button'} %>
            <div class="pictures_pagination_container">
              <%= will_paginate @pictures, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%end%>

    <% else %>

    <div class="pictures_mobile_container">
      <button class="ui icon button" id="pictures_hideshow_button" onclick="hideShowButtons()">
        <i class="icon large plus square oultline"></i>
      </button>

      <ul class="icons" id="pictures_topbar_options">
        <li class="home-button">
          <div class="ui red huge button" onclick="window.location.href='/'" style="width: 100%; height: 100%;">
            Home
          </div>
        </li>

        <li class="home-button">
          <div class="ui huge blue button" onclick="window.location.href='/resume'" style="width: 100%; height: 100%;">
            Resume
          </div>
        </li>

        <li class="home-button">
          <div class="ui huge purple button" onclick="window.location.href='/contact'" style="width: 100%; height: 100%;">
            Contact
          </div>
        </li>
        <li class="home-button">
          <div class="ui green huge button" onclick="window.location.href='/articles'" style="width: 100%; height: 100%;">
            Blog
          </div>
        </li>
        <li class="home-button">
          <div class="ui orange huge button" onclick="window.location.href='/projects'" style="width: 100%; height: 100%;">
            Projects
          </div>
        </li>
      </ul>
    </div>

    <div class="pictures_wrapper picturesBG" id="wrapper">
      <div class="" id="main">


        <div class="main_pictures">
          <div class="pictures_inner inner">
            <h1 id="picturesTitle">Pictures</h1>

            <ul id="buttons01">
              <li><button class="ui inverted red button large" onclick="window.location.href=('/')">Home</button></li>
              <li><button class="ui inverted blue button large" onclick="window.location.href=('/resume')">Resume</button></li>
              <li><button class="ui inverted purple button large" onclick="window.location.href=('/contact')">Contact</button></li>
              <li><button class="ui inverted green button large" onclick="window.location.href=('/articles')">Blog</button></li>
              <li><button class="ui inverted orange button large" onclick="window.location.href=('/projects')">Projects</button></li>
            </ul>

            <div class="gallery" id="gallery01">
              <div class="inner">
                <ul>
                  <% @pictures.each do |pic| %>
                      <% url = pic.url %>
                      <% title = pic.title %>
                      <% summary = pic.description %>
                      <li>
                        <a class="image thumbnail hoverable" onclick="showModal('<%= url %>', '<%= title %>', '<%= summary %>')">
                          <div id="homeCards2">
                            <div id="homeCard">
                              <img src="<%= url %>" class="homePic">
                            </div>
                          </div>
                        </a>
                      </li>
                    <% end %>
                </ul>
              </div>
            </div>
            <div class="pictures_pagination_container">
              <%= will_paginate @pictures, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header" id="pic_title"></div>
      <div class="image" style="text-align: center;">
        <div class="ui huge image modalImg">
          <img id="pic_url">
        </div>
        <div class="description">
          <div class="ui header" id="desc"></div>

        </div>
      </div>
      <div class="actions">
        <div class="ui black deny button">
          Close
        </div>
      </div>
    </div>
<%end%>
<script>
    function showModal(url, title, desc) {
        $("#pic_url").attr("src",url);
        $("#pic_title").html(title);
        $("#desc").html(desc);

        $('.ui.modal').modal('show');
    }


    function hideShowButtons() {
        $("#pictures_topbar_options").toggle(function() {
            $('#pictures_topbar_options').animate({top: 0})
        }, function() {
            $('#pictures_topbar_options').animate({top: 100})
        })
    }

</script>
