<h1 style="text-align: center;">My pictures</h1>
<% if user_signed_in? %>
    <% if current_user.email== "kpahawa@gmail.com" %>

        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Url</th>
              <th>Datetime</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @pictures.each do |picture| %>
              <tr>
                <td><%= picture.title %></td>
                <td><%= picture.description %></td>
                <td><%= picture.url %></td>
                <td><%= picture.datetime %></td>
                <td><%= link_to 'Show', picture %></td>
                <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
                <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Picture', new_picture_path %>
    <%end%>

    <% else %>
    <% i = 0 %>
    <table style="border-color:#EEE;">
      <% @pictures.each do |pic| %>
          <% if i%5 != 0%>
            <td>
              <% i +=1 %>
              <% url = pic.url %>
              <% title = pic.title %>
              <% summary = pic.description %>
              <div class="column" id="picIndexColumn">
                <a class="image" href="<%= url %>">
                  <div class="ui special cards" id="homeCards2">
                    <div class = "green card" id="homeCard">
                      <div class = "dimmable image">
                        <div class="ui dimmer">
                          <div class="content">
                            <div class="center">
                              <h3 style="background:white;"><%= title %></h3>
                              <p style="background:darkgreen;"><%= summary %></p>
                            </div>
                          </div>
                        </div>
                        <img src="<%= url %>" class="homePic">
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </td>
            <% if i == 5 %>
              </tr>
            <% end %>
          <% else %>
              <tr>
                <td>
                  <% i +=1 %>
                  <% url = pic.url %>
                  <% title = pic.title %>
                  <% summary = pic.description %>
                  <div class="column" id="picIndexColumn">
                    <a class="image" href="<%= url %>">
                      <div class="ui special cards" id="homeCards2">
                        <div class = "green card">
                          <div class = "dimmable image">
                            <div class="ui dimmer">
                              <div class="content">
                                <div class="center">
                                  <h3 style="background:white;"><%= title %></h3>
                                  <p style="background:darkgreen;"><%= summary %></p>
                                </div>
                              </div>
                            </div>
                            <img src="<%= url %>" class="homePic">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </td>

          <% end %>


      <% end %>
    </table>

<%end%>
<script>
    $('.special.cards .image').dimmer({
        on: 'hover'
    });
</script>
