<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="description" content="Karan's website">
    <meta property="og:site_name" content="k5p6">
    <meta property="og:title" content="k5p6">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Karan's website">

  <title><%= content_for?(:title) ? yield(:title) : "Karan's Page" %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100italic,400,400italic%7CSource+Sans+Pro:200,200italic,400,400italic" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body class="is-ready">
        <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.

            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'ui inverted red button' %>
        <% end %>
      <%= yield %>
  </body>
</html>
